body {
     font:100% arial;
     background-image:url(backgroundindex.png);
     background-size: 100%;
     background-repeat: no-repeat;
     }
img{border-radius: 30px;}     

.bouton {
  display: flex;
  background-color:#7A2715;
  border: 10px;
  color: white; 
  margin: auto;
  text-align: center;
  text-decoration: none;
  padding: 20px;                      
  font-size: 150%;
  cursor: pointer;
  border-radius: 1000px;
  border-color: white;
}

.bouton:hover {
  background-color: #000000;
  color: white;
  }

  p{text-align: center;}

  h1{text-align: center;color: red; text-decoration: underline red;}
  h2{text-align: center;color: red; text-decoration: underline red;}